<div class="row">
    <div class="offset-3 col-6">
        <form class="my-2">
            <h1 class="text-center text-primary">Login form</h1>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="tape your e-mail">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" placeholder="tape your password">
            </div>
            <div class="form-group">
                <input type="submit" value="sign in" class="btn btn-primary btn-block">
                <a href="#" class="float-right mt-1">Create an account</a>
            </div>
        </form>
    </div>
</div>